{% extends "instagram/layout.html" %}
{% load bootstrap5 %}

{% block title %}
Instagram / Post_List
{% endblock title %}

{% block content %}
<div style="padding:0px 10px;">
    {# Form - Search #}
    <form method="get" action="">
        <input type="text" name="q" class="form-control" style="width:30%; display:inline-block;" placeholder="키워드 검색" required value="{{ q }}" autofocus />
        <input type="submit" class="btn btn-primary" value="검색">
    </form>

    <a href="{% url 'instagram:post_new' %}" class="btn btn-primary btn-block mt-3 mb-3">새 포스팅</a>

    {% if is_paginated %}
        <div style="margin-top:10px;">{{ page_obj }}</div>
    {% endif %}

    <table class="table table-bordered" style="margin-top:10px;">
        <tbody>
        {% for post in post_list %}
        <tr>
            <td valign="middle" class="text-center" style="width:5%; min-width:80px;">{{ post.pk }}</td>
            <td valign="middle">
                <a href="{{ post.get_absolute_url }}">
                {{ post.message }}
                </a>
            </td>
            <td valign="middle">
                {% if post.photo %}
                    <img src="{{ post.photo.url }}" alt="" style="width:100px;">
                {% else %}
                    NO PHOTO
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        {% bootstrap_pagination page_obj size="small" %}
    {% endif %}
</div>
{% endblock content %}
